body,div{background-color: #ffffff;}		
thead{background-color:	#282828 ; color:#B00000 }
p, h2{color:red;}
h2,p{text-align:center;}

img{ float:right;}



ul.navlist{ list-style-type: none; 
            padding: 0;
            margin: 0;
            float: left;
            width: 100%;
            color: #fff;
            background-color: #282828;

} 
ul.navlist li { display: inline; }
ul.navlist li a{
    float: left;
    width: 17.5%;
    color: #0000FF ;
    background-color: #282828 ;
    padding: 0.2em 1em;
    text-decoration: none;
    border-right: 1px solid #282828;
    text-align: center;
}
ul.navlist li a:hover{
    background-color: white ;
    color: black;
}
img.floatRight{ float: right; clear: right; width: 25%;
                height: 250%;   margin:0px;
                border:0px;}
img.floatleft{ float: left; clear: left; width: 25%;
               height: 250%;   margin:0px;
               border:0px;}

.rock{ width: 100%;
       height: 10%;
       border: #0000FF;
      
}

